# Dependencies
**/node_modules

# Build outputs
frontend/.next/
backend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env*.local

# Debug
npm-debug.log*

# Misc
*.pem
frontend/tsconfig.tsbuildinfo
